.question {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
    box-sizing: border-box;
    position: relative;

    &__counter {
        position: absolute;
        right: 30px;
        top: 30px;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 14px;
    }

    &__title {
        width: 100%;
        display: flex;
        font-size: 12px;
        text-align: center;

        &_left {
            justify-content: flex-start;
        }

        &_right {
            justify-content: flex-end;
        }

        &-item {
            padding: 15px;
            box-sizing: border-box;
            background-color: var(--color-500);
            width: 80%;
            max-width: 400px;
            box-shadow: 0 0 5px 0 var(--color-900);

            &_left {
                border-radius: 0 30px 30px 0;
            }

            &_right {
                border-radius: 30px 0 0 30px;
            }

            &_active {
                background-color: var(--color-900);
                color: var(--color-500);
            }

            &_muted {
                background-color: var(--color-800);
                color: var(--color-500);
            }
        }
    }

    .radio-input {
        display: none;

        &:checked + .radio {
            border-color: var(--color-900);

            &:after {
                content: '';
                position: absolute;
                left: 2px;
                top: 2px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--color-900);
            }
        }
    }

    .radio {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--color-500);
        position: relative;

        &_near {
            border-color: var(--color-900);
        }
    }
}
