<div class="question">
    
    <div class="question__counter">{{ currentStep + 1 }}/{{ stepLength }}</div>

    <div class="question__title question__title_right">
        <div class="question__title-item question__title-item_right"
            [class.question__title-item_active]="selectedValue < 0"
            [class.question__title-item_muted]="selectedValue === 0">
            {{ mainQuestion[0] }}
        </div>
    </div>

    <ng-container *ngFor="let item of answersScale; let i = index">
        <input class="radio-input" type="radio" name="group" (change)="onChange()" [(ngModel)]="selectedValue" [id]="i"
            [value]="item">
        <label class="radio" [class.radio_near]="(selectedValue > 0 && i === 4) || (selectedValue < 0 && i === 0)"
            [for]="i"></label>
    </ng-container>

    <div class="question__title question__title_left">
        <div class="question__title-item question__title-item_left"
            [class.question__title-item_active]="selectedValue > 0"
            [class.question__title-item_muted]="selectedValue === 0">
            {{ mainQuestion[1] }}
        </div>
    </div>
</div>