:host {
    width: 100%;
}
.navigations {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__btn {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;

        &_left {
            border-right: 30px solid var(--color-900);
        }

        &_right {
            border-left: 30px solid var(--color-900);
        }

        &_hidden {
            visibility: hidden;
        }
    }
}
