<div class="navigations">
    <div (click)="prevStep()" class="navigations__btn navigations__btn_left"></div>

    <div [class.navigations__btn_hidden]="isNextHidden" (click)="nextStep()" class="navigations__btn navigations__btn_right"></div>
</div>
