<ion-content [fullscreen]="true">

    <div class="card">
      <div class="card__title">Узнай свой психологический профиль</div>
  
      <div class="card__content">
        <div>
          <p>
            Этот тест подскажет ваши сильные и слабые стороны. Он поможет выбрать направление, в
            котором вы можете добиться успеха. У каждого из нас есть то, что мы можем делать лучше других, и то, в чем нам
            необходимо совершенствоваться.
          </p>
    
          <p>
            Этот тест поможет подобрать себе партнера в бизнесе и личной жизни, лучшую команду из возможных вариантов и тех
            людей, которые могут стать вашими спутниками и друзьями.
          </p>
        </div>
        <ion-button class="btn" (click)="openIntro()">Поехали</ion-button>
      </div>
    </div>
  </ion-content>