ion-content {
    --background: var(--color-700);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: transparent;

    &__title {
        text-transform: uppercase;
        font-family: 'Roboto-Bold', sans-serif;
        width: 60%;
        max-width: 340px;
        margin: 50px 0 0 25px;
    }

    &__content {
        height: 70%;
        width: 100%;
        background-color: white;
        border-radius: 30px 30px 0 0;
        box-shadow: 0 2px 7px 0 var(--color-900);
        padding: 20px 30px;
        box-sizing: border-box;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
