<ion-content>
  <div class="card">
    <h3 class="card__title">Совместимость пары</h3>

    <div class="card__avatars">
      <img class="card__avatars-item" [src]="'assets/user_stub.jpg'" alt="" />

      <div class="arrows">
        <svg
          class="arrows__item"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="77px"
          height="38px"
        >
          <path
            fill-rule="evenodd"
            fill="rgb(199, 228, 223)"
            d="M76.996,27.849 L33.283,27.849 L33.280,37.996 L-0.005,19.271 L33.291,0.565 L33.288,11.906 L76.996,11.906 L76.996,27.849 Z"
          />
        </svg>

        <svg
          class="arrows__item arrows__item_rotate"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="77px"
          height="38px"
        >
          <path
            fill-rule="evenodd"
            fill="rgb(199, 228, 223)"
            d="M76.996,27.849 L33.283,27.849 L33.280,37.996 L-0.005,19.271 L33.291,0.565 L33.288,11.906 L76.996,11.906 L76.996,27.849 Z"
          />
        </svg>
      </div>
      <img class="card__avatars-item" [src]="'assets/user_stub.jpg'" alt="" />
    </div>

    <circle-progress
      [percent]="85"
      [radius]="70"
      [backgroundStroke]="'#c7e4df'"
      [outerStrokeColor]="'#2e4d4a'"
      [showBackground]="true"
      [backgroundPadding]="-3"
      [outerStrokeWidth]="5"
      [backgroundStrokeWidth]="4"
      [showInnerStroke]="false"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
</ion-content>
