.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;

    &__title {
        text-transform: uppercase;
        font-size: 14px;
    }

    &__avatars {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &-item {
            width: 30%;
        }

        .arrows {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 10%;
            height: 100%;
            
            &__item {
                transform: scale(.4) translateY(22px);

                &_rotate {
                    transform: scale(.4) rotate(180deg) translateY(22px);
                }
            }
        }
    }
}