ion-content {
    --background: var(--color-700);
}

.card {
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &__input {
        height: 35px;
        width: 100%;
        max-width: 320px;
        background-color: transparent;
        border-radius: 18px;
        border: 3px solid var(--color-500);
        text-align: center;
        color: var(--color-500);
        outline: none;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 10px;

        &::placeholder {
            color: var(--color-500);
        }
    }

    &__divider {
        font-family: 'Roboto-Bold', sans-serif;
        text-transform: uppercase;
        margin: 15px 0;
        font-size: 12px;
    }

    &__navigations {
        position: absolute;
        bottom: 0;
        width: 100%;
        bottom: 30px;
        padding: 0 30px;
    }
}
