<ion-content>
    <div class="card">
        <input type="text" class="card__input" placeholder="Введите код">
        <input type="text" class="card__input" placeholder="Введите имя">
        <ion-button class="btn btn_white">Сравнить</ion-button>

        <span class="card__divider">или</span>

        <input type="text" class="card__input" placeholder="Введите имя">
        <ion-button class="btn btn_white">Пройти тест за друга</ion-button>

        <app-navigations [isNextHidden]="true" class="card__navigations"></app-navigations>
    </div>

    
</ion-content>