.tab-selected > .tab-label {
    background-color: var(--tab-main-color);

    .circle {
        transform: scale(1.6);
    }
}

ion-tab-button {
    background: linear-gradient(to top, var(--tab-primary-color) 80%, var(--tab-main-color) 100%);
    position: relative;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
}

ion-tab-bar {
    --border: none;
    --background: var(--tab-main-color);
}

.tab-label {
    width: 100%;
    height: 100%;
    background-color: var(--tab-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.tab-button, .tab-selected {
    &_left {
        .tab-label {
            border-bottom-right-radius: 30px;
        }
    }

    &_center {
        .tab-label {
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }

    &_right {
        .tab-label {
            border-bottom-left-radius: 30px;
        }
    }
}


.rounded-right {
    border-top-right-radius: 25px;
}

.rounded-left {
    border-top-left-radius: 25px;
}

.circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-900);
    margin-bottom: 5px;
    transition: .4s;
}
