<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="tabs.TEST_TAB" [class.rounded-right]="activeTab === tabs.CELEBRITIES_TAB" class="tab-button tab-button_left">
      <ion-label class="tab-label">
        <div class="circle"></div>
        Тест
      </ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabs.CELEBRITIES_TAB" [class.rounded-left]="activeTab === tabs.TEST_TAB" [class.rounded-right]="activeTab === tabs.FRIENDS_TAB" class="tab-button tab-button_center">
      <ion-label class="tab-label">
        <div class="circle"></div>
        Celebrities
      </ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabs.FRIENDS_TAB" [class.rounded-left]="activeTab === tabs.CELEBRITIES_TAB" class="tab-button tab-button_right">
      <ion-label class="tab-label">
        <div class="circle"></div>
        Друзья
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
