<ion-content>
    <div class="card">
        <div class="card__title">
            Добавить друзей из соцсетей
        </div>

        <div class="card__socials">
            <ion-button class="btn btn_white">
                <ion-icon class="btn-icon"  slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button class="btn btn_white">
                <ion-icon class="btn-icon" slot="icon-only" name="logo-vk"></ion-icon>
            </ion-button>
            <ion-button class="btn btn_white">
                <ion-icon class="btn-icon" slot="icon-only" name="logo-instagram"></ion-icon>
            </ion-button>
            <ion-button class="btn btn_white" (click)="openActions()">
                Добавить вручную
            </ion-button>
        </div>
    </div>
</ion-content>