ion-content {
    --background: var(--color-700);
}

.card {
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }

    &__socials {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn-icon {
        color: black;
    }
}
