<div class="question">
    <div class="question__title">{{ personalQuestion?.title }}</div>

    <label class="question__item" *ngFor="let item of personalQuestion?.values; let i = index">
        <input class="question__item-radio" type="radio" name="group" (change)="onOptionChange()" [checked]="selectedValue === i" [value]="i" [(ngModel)]="selectedValue">
        <div class="question__item-button">{{ item }}</div>
    </label>

</div>