.question {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;

    &__title {
        width: 100%;
        text-transform: uppercase;
        font-size: 15px;
        font-family: 'Roboto-Bold', sans-serif;
        margin-bottom: 20px;
    }

    &__item {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;

        &-radio {
            display: none;

            &:checked + .question__item-button {
                background-color: var(--color-900);
                color: var(--color-500);
            }
        }


        &-button {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: var(--color-500);
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 11px;
            font-family: 'Roboto-Black', sans-serif;
        }
    }
}