<div class="user">
    <div class="user__avatar" [style.backgroundImage]="'url(assets/user_stub.jpg)'"></div>

    <div class="user__info">
        <span class="user__info-name">Name Name</span>
        <div class="user__info-buttons">
            <div class="button button_profile">профиль</div>
            <div class="button button_compare" (click)="openCompare()">сравнить</div>
        </div>
    </div>
</div>