.user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: var(--color-500);
    border-radius: 10px;
    box-shadow: 0 0 5px 0 var(--color-900);
    box-sizing: border-box;
    height: 90px;

    &__avatar {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-right: 10px;
        flex-shrink: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__info {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        &-name {
            font-size: 14px;
            margin-bottom: 5px;
        }

        &-buttons {
            width: 100%;
            display: flex;
            font-size: 11px;
            text-transform: uppercase;
            justify-content: space-between;

            .button {
                color: var(--color-500);
                border-radius: 10px;
                padding: 5px 10px;

                &_profile {
                    background-color: var(--color-900);
                }

                &_compare {
                    background-color: var(--color-700);
                    box-shadow: 0 0 3px 0 var(--color-900);
                }
            }
        }
    }
}