// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/ 

body {
  --color-900: #2e4d4a;
  --color-800: #83b7ae;
  --color-700: #c7e4df;
  --color-600: #dad7d2;
  --color-500: #ffffff;

  --tab-main-color: #ffffff;
  --tab-primary-color: #c7e4df;
}

body.inverse {
  --tab-main-color: #c7e4df;
  --tab-primary-color: #ffffff;
}


