ion-content {
    --background: var(--color-700);
}

.celebrities {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 10px 30px 10px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 20px;
        box-sizing: border-box;

        &-gender {
            width: 25%;
            max-width: 200px;
        }

        .promo-btn {
            background-color: var(--color-900);
            color: var(--color-500);
            text-transform: uppercase;
            padding: 5px;
            font-size: 12px;
            border-radius: 10px;
            white-space: nowrap;
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 5px;
    }
}


