<ion-content>
    <div class="celebrities">

        <div class="celebrities__header">
            <app-gender-filter class="celebrities__header-gender"></app-gender-filter>

            <div class="promo-btn" (click)="openPromoModal()">ввести промокод</div>
        </div>

        <div class="celebrities__content">
            <app-user-card></app-user-card>
        </div>
        
    </div>
</ion-content>
