ion-content {
    --background: var(--color-700);
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;

    &__title {
        text-transform: uppercase;
        font-family: 'Roboto-Bold', sans-serif;
        width: 70%;
        max-width: 340px;
        margin: 50px 0 0 30px;
        margin-bottom: 100px;
        font-size: 15px;
        font-weight: bold;
    }

    &__content {
        width: 100%;
        background-color: var(--color-500);
        border-radius: 30px;
        box-shadow: 0 2px 7px 0 var(--color-900);
        padding: 70px 30px 20px 30px;
        box-sizing: border-box;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin-bottom: 30px;

        &-person {
            position: absolute;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: var(--color-500);
            top: -80px;
            left: calc(50% - 60px);
            filter: saturate(0%) brightness(70%) contrast(320%);
        }

        &-title {
            text-transform: uppercase;
            font-size: 13px;
            font-family: 'Roboto-Bold', sans-serif;
        }
    }

    &__container {
        padding: 0 20px;
        box-sizing: border-box;
        padding-bottom: 30px;

        &-title {
            font-size: 15px;
            text-transform: uppercase;
            color: var(--color-900);
            font-family: 'Roboto-Bold', sans-serif;
            margin-bottom: 15px;

            &_black {
                color:black;
            }
        }

        &-input {
            background-color: var(--color-500);
            margin-bottom: 15px;
            height: 25px;
        }
    }

    .btn-icon {
        color: black;
    }
}
