<ion-content>

    <div class="card" *ngIf="(testResults$ | async) as results">
        <div class="card__title">Психологический портрет</div>

        <div class="card__content">
            <img [src]="results.data.personPicture[0]" class="card__content-person">
            <div>
                <h3 class="card__content-title">{{ results.data.person }}</h3>
                <p>
                    {{ results.data.psychoTypeDesc }}
                </p>

                <h3 class="card__content-title">{{ results.data.portraitDescSoft[0][0] }}</h3>
                <p>
                    {{ results.data.portraitDescSoft[0][1] }}
                </p>
            </div>
        </div>

        <div class="card__container">
            <ion-button class="btn" *ngFor="let item of results.data.portraitDescSoft">{{ item[0] }}</ion-button>
        </div>

        <div class="card__container">
            <h3 class="card__container-title">расшифровка психологического профиля</h3>
            <app-profile-description *ngFor="let item of results.data.fullProfileData" [value]="item">
            </app-profile-description>
        </div>

        <div class="card__container">
            <h3 class="card__container-title card__container-title_black">уникальная ссылка для доступа к вашему
                результату</h3>
            <ion-input class="card__container-input"></ion-input>
            <ion-button class="btn">скопировать ссылку</ion-button>
        </div>

        <div class="card__container">
            <h3 class="card__container-title card__container-title_black">поделись с друзьями в социальных сетях</h3>
            <ion-button class="btn btn_white">
                <ion-icon class="btn-icon"  slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button class="btn btn_white">
                <ion-icon class="btn-icon" slot="icon-only" name="logo-vk"></ion-icon>
            </ion-button>
            <ion-button class="btn btn_white">
                <ion-icon class="btn-icon" slot="icon-only" name="logo-instagram"></ion-icon>
            </ion-button>
        </div>


    </div>
</ion-content>