.item {
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 10px;
    margin-bottom: 10px;
    overflow: hidden;

    &__header {
        width: 100%;
        padding: 5px;
        background-color: var(--color-800);
    }

    &__value {
        width: 100%;
        padding: 5px;
        background-color: var(--color-500);
    }
}