.promo {
    width: 90%;
    background-color: var(--color-900);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 100px 30px 30px 30px;
    box-sizing: border-box;
    position: relative;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 50px;
        color: var(--color-500);
    }

    &__input {
        background-color: var(--color-500);
        height: 35px;
        margin-bottom: 30px;
        outline: none;
        border-radius: 4px;
        border: none;
        width: 80%;
        text-align: center;
        font-size: 12px;
    }
}