<div class="promo">
    <ion-icon class="promo__close" name="close-outline"></ion-icon>
    <input class="promo__input" placeholder="ВВЕСТИ ПРОМОКОД">
    <ion-button class="btn btn_muted">применить</ion-button>
</div>