<ion-content>
    <ng-container *ngIf="(questionsData | async) as data">
        <ng-container [ngTemplateOutlet]="(isMainStepsActive | async) ? main : personal"
            [ngTemplateOutletContext]="{ data: data }"></ng-container>
        <app-navigations class="navigations" (navigationEvent)="onStepChange($event)"></app-navigations>
    </ng-container>
</ion-content>

<ng-template #personal let-data="data">
    <app-personal-question [personalQuestion]="currentPersonalQuestion | async"
        [selectedValue]="currentPersonalAnswer | async" (selectOption)="onPersonalQuestionChange($event)">
    </app-personal-question>
</ng-template>

<ng-template #main let-data="data">
    <app-main-question [currentStep]="mainStep | async" [stepLength]="(questionsData | async).questions.length"
        [mainQuestion]="currentMainQuestion | async" [selectedValue]="(currentMainAnswer | async)?.value"
        (selectOption)="onMainQuestionChange($event)"></app-main-question>
</ng-template>