<div class="genders">
    <label class="genders__item">
        <input class="genders__item-radio" type="radio" name="group" (change)="onGenderChange()" [checked]="selectedValue === genders.MALE" [value]="genders.MALE" [(ngModel)]="selectedValue">
        <div class="genders__item-button"></div>
        <span class="genders__item-text">М</span>
    </label>
    
    <label class="genders__item">
        <input class="genders__item-radio" type="radio" name="group" (change)="onGenderChange()" [checked]="selectedValue === genders.FEMALE" [value]="genders.FEMALE" [(ngModel)]="selectedValue">
        <div class="genders__item-button"></div>
        <span class="genders__item-text">Ж</span>
    </label>
</div>