.genders {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-radio {
            display: none;

            &:checked + .genders__item-button {

                border-color: var(--color-900);

                &:after {
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--color-900);
                }
            }
        }

        &-button {
            width: 16px;
            height: 16px;
            border: 2px solid var(--color-500);
            border-radius: 50%;
            position: relative;
            box-sizing: border-box;
            margin-bottom: 4px;
        }

        &-text {
            text-transform: uppercase;
            color: var(--color-500);
            font-size: 12px;
        }
    }
}