/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {   
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {   
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {   
    font-family: 'Roboto-Black';
    src: url('./assets/fonts/Roboto-Black.ttf');
}

body {
    font-family: 'Roboto-Regular', sans-serif;
}

.btn {
    --background: var(--color-900);
    width: 100%;
    max-width: 320px;
    --border-radius: 50px;
    font-size: 12px;
    font-family: 'Roboto-Regular', sans-serif;
    white-space: pre-wrap;

    &_white {
        --background: var(--color-500);
        color: black;
        font-family: 'Roboto-Bold';
    }

    &_muted {
        --background: var(--color-700);
    }
}

app-promo-modal {
    align-items: center !important;
    justify-content: center !important;
}

.modal-wrapper{
    background: rgba(131, 183, 174, 0.6) !important;
}
