<ion-content [fullscreen]="false">
    <div class="card">
        <div class="card__title">Спасибо! <br> Можем двигаться дальше</div>
        <img class="card__image" src="assets/face_2.png" alt="">

        <p class="card__text">
            Перед вами 75 вопросов основного блока. Вам необходимо выбрать, какое утверждение из двух для вас ближе и
            насколько. Если вы ставите метку в крайне левой позиции это значит что первое утверждение однозначно ближе
            для вас. Крайне правая позиция - второе утверждение однозначно ближе для вас.
            <br>
            Отвечая на вопросы, постарайтесь объективно оценивать себя в заданных ситуациях.
        </p>

        <app-navigations (navigationEvent)="onNavigationChange($event)"></app-navigations>
    </div>
</ion-content>