ion-content {
    --background: var(--color-500);
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 40px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    &__title {
        text-transform: uppercase;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 15px;
        width: 50%;
        max-width: 300px;
        position: absolute;
        left: 30px;
        top: 50px;
    }

    &__image {
        width: 60%;
        margin-right: -30px;
    }

    &__text {
        font-size: 12px;
        margin-top: 40px;
    }
}
