<ion-content [fullscreen]="true">
    <div class="card">
        <img class="card__image" src="assets/face_1.png" alt="">

        <p class="card__text">
            Прежде чем приступить к прохождению теста, убедитесь, что вы находитесь в стабильном психологическом
            состоянии. Прохождение теста на фоне стресса может сильно повлиять на результат.
        </p>

        <app-navigations (navigationEvent)="onNavigationChange($event)"></app-navigations>
    </div>
</ion-content>